.row-intro {
  position: relative;
}
.intro-content {
  position: absolute;
  top: 250px;
  right: 450px;
  left: 450px;
  text-align: center;
  font-family: Mukta;
  color: white;
}
.intro-content h1 {
  font-size: 60px;
}
.intro-content h3 {
  font-size: 18px;
}
.scroll {
  position: absolute;
  bottom: 20px;
  right: 450px;
  left: 450px;
  text-align: center;
}
.row-about {
  position: relative;
  text-align: center;
  font-family: Mukta;
  padding: 0 200px 0 200px;
}
.row-about h2 {
  font-size: 40px;
  font-weight:100;
}
.row-about p {
  font-size: 18px;
}
.row-services {
  position: relative;
}
.services-content {
  position: absolute;
  text-align: center;
  top: 120px;
  padding: 0 200px 0 300px;
  font-family: Mukta;
  color: white;
}
.services-content h2 {
  font-size: 40px;
  font-weight:100;
}
.services-content p {
  font-size: 18px;
}
.row-what-we-do {
  position: relative;
  text-align: center;

}
.row-what-we-do h2 {
  font-size: 40px;
  font-weight:100;
}
.col-md-4{
  float: left;
  width: auto;
}
.container-fluid1 {
   display: flex;
}
.row-portfolio{
  position: relative
  text-align: center;
}
.container-fluid2 {
  display: flex;
}
.col-md-3{
  float: left;
  width: 25%;
}
.row-contact-us {
  position: relative;
}
.contact-content {
  position: absolute;
  top: 250px;
  right: 450px;
  left: 450px;
  text-align: center;
  font-family: Mukta;
  color: white;
}
